<h1>This is a site created using ansible roles</h1>
<ul>
	<li>My Name is {{ myName }} </li>
	<li>I am working in {{ myCompany }}</li>
	<li>Role in my company is {{ myRole }}</li>
	<li>Operating Systerm Family is {{ ansible_facts["os_family"] }}</li>
</ul>
